
header{
    padding-left: 50px;
    background-color: #333333;
}
div {
    display: block;
    width:500px;
    height: 250px;
}

.pictures{
  border:5px solid black;
  background-color: white;
}
.pictures2{
  border: 5px solid black;
  background-color: green;
}
.main{
  border: 5px solid orange;
  background-color: yellow;
}
.main2{
  border: 5px solid orange;
  background-color.opacity: 0.6;
}

body{
  background-color: black;
}
section{
  background-color: #888;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

a{
  background-color:#0000;
  width:400px;
  height: inherit;
  margin: 0 auto;
}

body{
  background-color: black;
}
section{
  background-color: #888;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

a{
  background-color:#fff;
  width:400px;
  height: inherit;
  margin: 0 auto;
}







body{
  background-color: black;
}
section{
  background-color: #888;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

a{
  background-color:#fff;
  width:400px;
  height: inherit;
  margin: 0 auto;
}
let thing1 = doc.getElementsByName('V6.10.2
Recommoned from most user');
